* {
    padding: 0;
    margin: 10px 5px 15px;
    box-sizing: border-box;
    
  }

  
body {
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
    height: 100vh;
    background-repeat: repeat;
    /* display: flex; */
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }
  
.logo{
  position: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.overlay-text {
  display: none;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  display: flex;  
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: rgb(133, 37, 37);
}




.overlay-text-small{
  display: flex;
 font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;

}


/* Make an element move gradually */
@keyframes overlay-grow {
  from {
    background-color: black;
    font: 0
;  }
  to{
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;

  }
} 
.game-info {
  color: aliceblue;
  text-align: center;
}


.Game-rules {
  color: aliceblue;
  text-align: center;
}

  .memory-game {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding: 0px 0px 0px 0px;
  }

  .cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border-radius: 10%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

   


  

  }

.cards:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.cards.flip {
  transform: rotateY(180deg);
}


  .front-card, .back-card {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
  
  
  }

  .front-card {
    box-shadow: 1px 1px 7px 15px rgb(133, 37, 37);
    transform: rotateY(180deg);
  }


  .back-card:hover {
    box-shadow: 1px 1px 7px 8px rgb(209, 208, 208);

  }