* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
body {
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
    height: 100vh;
    background-repeat: repeat;
    display: flex;
    

    

  }
  

.logo {
  width: 340px;
  height: 340px;
}

  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    
  }

  .cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border-radius: 10%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
 

  

  }

.cards:active {
    transform: scale(0.97);
    transition: transform .2s;
}
  
.cards.flip {
  transform: rotateY(180deg);
}


  .front-card, .back-card {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
  
  }

  .front-card {
    box-shadow: 1px 1px 7px 15px rgb(133, 37, 37);
    transform: rotateY(180deg);
  }

  .front-card, .back-card:hover {
    
  }

  .back-card:hover {
    box-shadow: 1px 1px 20px 8px rgb(209, 208, 208);

  }